body {
    background: url("./images/1dark.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
}

nav {
    border: 1px solid rgba(255, 255, 255, 0.275);
    display: grid;
    place-content: center;
    position: fixed;
    bottom: 1em;
    padding: 0.5vw;
    border-radius: 1vw;
    backdrop-filter: blur(2em);
}

nav img {
    height: 5vw;
    transition-duration: 0.2s;
}

.first-container {
    display: flex;
    transition-duration: 0.5s;
}